body {
    background-color: #dddddd;
}

header {
    background-color: #29b1dd;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.icon-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 25px; 
    width: 250px;
    height: 100px;
}

.icon-img {
    font-size: 2rem;
}

.blue {
    color: #0000ff;
}

.orange {
    color: #ffa500;
}

.green {
    color: #008000;
}

.icon-text {
    text-transform: uppercase;
}